.body--dark {
  .card{
    color: var(--q-color-text-in-dark);
    background: var(--q-color-section-bg-in-dark);
    position: relative;
  }

  .text-system-green{
    color: var(--q-color-system-green-in-dark);
  }
  .bg-system-green{
    background-color: var(--q-color-system-green-in-dark);
  }

  .profile-image:after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: -65px;
    right: -20px;
    width: auto;
    height: 100px;
    transform: none;
    border-radius: 100% 100% 0 0;
    background: var(--q-color-section-bg-in-dark);
    z-index: 3;
  }

  .dynamic-background {
    background: var(--q-color-page-bg-in-dark);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .dynamic-background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: blured_move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes blured_move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  .dynamic-background span:nth-child(1), .dynamic-background span:nth-child(3), .dynamic-background span:nth-child(5), .dynamic-background span:nth-child(8), .dynamic-background span:nth-child(11), .dynamic-background span:nth-child(12), .dynamic-background span:nth-child(15), .dynamic-background span:nth-child(20) {
    color: var(--q-color-lemon-green);
  }
  .dynamic-background span:nth-child(2), .dynamic-background span:nth-child(6), .dynamic-background span:nth-child(7), .dynamic-background span:nth-child(9), .dynamic-background span:nth-child(10), .dynamic-background span:nth-child(13), .dynamic-background span:nth-child(16), .dynamic-background span:nth-child(17), .dynamic-background span:nth-child(19) {
    color: #282828;
  }
  .dynamic-background span:nth-child(4), .dynamic-background span:nth-child(14), .dynamic-background span:nth-child(18) {
    color: var(--q-color-lemon-yellow);
  }
  .dynamic-background span:nth-child(1) {
    top: 56%;
    left: 9%;
    animation-duration: 11s;
    animation-delay: -8.1s;
    transform-origin: 6vw -10vh;
    box-shadow: 40vmin 0 13.0166555866vmin currentColor;
  }
  .dynamic-background span:nth-child(2) {
    top: 72%;
    left: 75%;
    animation-duration: 11.1s;
    animation-delay: -3.8s;
    transform-origin: -12vw 9vh;
    box-shadow: 40vmin 0 6.1961466709vmin currentColor;
  }
  .dynamic-background span:nth-child(3) {
    top: 9%;
    left: 81%;
    animation-duration: 11.9s;
    animation-delay: -7.1s;
    transform-origin: 23vw 2vh;
    box-shadow: -40vmin 0 7.4502495452vmin currentColor;
  }
  .dynamic-background span:nth-child(4) {
    top: 2%;
    left: 17%;
    animation-duration: 12s;
    animation-delay: -2.8s;
    transform-origin: -16vw 8vh;
    box-shadow: -40vmin 0 12.533787847vmin currentColor;
  }
  .dynamic-background span:nth-child(5) {
    top: 25%;
    left: 4%;
    animation-duration: 15.6s;
    animation-delay: -8s;
    transform-origin: -20vw -22vh;
    box-shadow: -40vmin 0 5.4723418582vmin currentColor;
  }
  .dynamic-background span:nth-child(6) {
    top: 25%;
    left: 11%;
    animation-duration: 12.4s;
    animation-delay: -7.2s;
    transform-origin: 6vw -17vh;
    box-shadow: 40vmin 0 10.0276258235vmin currentColor;
  }
  .dynamic-background span:nth-child(7) {
    top: 5%;
    left: 29%;
    animation-duration: 10.4s;
    animation-delay: -8.4s;
    transform-origin: 20vw 5vh;
    box-shadow: -40vmin 0 6.0912947411vmin currentColor;
  }
  .dynamic-background span:nth-child(8) {
    top: 38%;
    left: 18%;
    animation-duration: 14s;
    animation-delay: -13.9s;
    transform-origin: 5vw -1vh;
    box-shadow: -40vmin 0 7.4727724313vmin currentColor;
  }
  .dynamic-background span:nth-child(9) {
    top: 63%;
    left: 83%;
    animation-duration: 11.6s;
    animation-delay: -10.9s;
    transform-origin: -2vw -11vh;
    box-shadow: -40vmin 0 7.1376872218vmin currentColor;
  }
  .dynamic-background span:nth-child(10) {
    top: 44%;
    left: 64%;
    animation-duration: 12s;
    animation-delay: -4.7s;
    transform-origin: -24vw 17vh;
    box-shadow: 40vmin 0 7.4094127515vmin currentColor;
  }
  .dynamic-background span:nth-child(11) {
    top: 73%;
    left: 76%;
    animation-duration: 15.8s;
    animation-delay: -6.2s;
    transform-origin: -9vw -24vh;
    box-shadow: 40vmin 0 14.0899880498vmin currentColor;
  }
  .dynamic-background span:nth-child(12) {
    top: 4%;
    left: 96%;
    animation-duration: 12.1s;
    animation-delay: -7.9s;
    transform-origin: -7vw 11vh;
    box-shadow: 40vmin 0 12.0679060615vmin currentColor;
  }
  .dynamic-background span:nth-child(13) {
    top: 80%;
    left: 89%;
    animation-duration: 10.7s;
    animation-delay: -9.6s;
    transform-origin: -23vw 8vh;
    box-shadow: -40vmin 0 13.4227817909vmin currentColor;
  }
  .dynamic-background span:nth-child(14) {
    top: 10%;
    left: 84%;
    animation-duration: 11.7s;
    animation-delay: -13.7s;
    transform-origin: 23vw -9vh;
    box-shadow: 40vmin 0 13.0652683419vmin currentColor;
  }
  .dynamic-background span:nth-child(15) {
    top: 31%;
    left: 52%;
    animation-duration: 12s;
    animation-delay: -4.5s;
    transform-origin: 1vw -5vh;
    box-shadow: 40vmin 0 14.569884619vmin currentColor;
  }
  .dynamic-background span:nth-child(16) {
    top: 6%;
    left: 98%;
    animation-duration: 12.7s;
    animation-delay: -7.5s;
    transform-origin: 15vw -9vh;
    box-shadow: -40vmin 0 7.281992007vmin currentColor;
  }
  .dynamic-background span:nth-child(17) {
    top: 18%;
    left: 96%;
    animation-duration: 12.7s;
    animation-delay: -7.6s;
    transform-origin: -11vw 23vh;
    box-shadow: 40vmin 0 11.8428291366vmin currentColor;
  }
  .dynamic-background span:nth-child(18) {
    top: 47%;
    left: 65%;
    animation-duration: 13.3s;
    animation-delay: -12.4s;
    transform-origin: 14vw -13vh;
    box-shadow: -40vmin 0 5.1686799201vmin currentColor;
  }
  .dynamic-background span:nth-child(19) {
    top: 51%;
    left: 61%;
    animation-duration: 13.5s;
    animation-delay: -15.1s;
    transform-origin: -11vw 16vh;
    box-shadow: -40vmin 0 9.0171705711vmin currentColor;
  }
  .dynamic-background span:nth-child(20) {
    top: 64%;
    left: 96%;
    animation-duration: 14.9s;
    animation-delay: -4.7s;
    transform-origin: 8vw 7vh;
    box-shadow: 40vmin 0 5.1015424987vmin currentColor;
  }
}
