//max queries
@media only screen and (max-width: $breakpoint-lg-max) {
}

@media only screen and (max-width: $breakpoint-md-max) {
}

@media only screen and (max-width: $breakpoint-sm-max) {
  .container{
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
}

@media only screen and (max-width: $breakpoint-xs-max) {
}

//-----------------------------------------------------------
//min queries
@media only screen and (min-width: $breakpoint-xl-min) {
}

@media only screen and (min-width: $breakpoint-lg-min) {
}

@media only screen and (min-width: $breakpoint-md-min) {
  .container{
    height: calc(100vh - 10vh - 10vh);
  }
}

@media only screen and (min-width: $breakpoint-sm-min) {

}
